body {
    font-family:'Courier New', Courier, monospace;
    background-color:rgb(44, 44, 44);
    color: #00D53A;
}

.inline {
    display: inline-block;
    vertical-align: top;
}

#dashboard {
    display:inline-block;
}

#tools {
    display:inline-block;
    vertical-align: top;
}

#drawzone {
    display: inline-block;
    vertical-align: top;
    border-width:1px; 
    border-style:solid; 
    border-color:#00D53A;
    padding: 2px;
    font-size: 0;
}

.pixel {
    display: inline-block;
    width: 60px;
    height: 30px;
    border-width:1px;
    margin: 2px;
    border-style:solid; 
    border-color:black;
}

#palette {
    display: inline-block;
    border-width:1px;
    border-style:solid; 
    border-color:#00D53A;
    font-size: 0;
}

#menu {
    display: inline-block;
    padding: 3px;
    vertical-align: top;
    border-width:1px;
    border-style:solid; 
    border-color:#00D53A;
}

.button {
    width: 100%;
    height: 30px;
    margin: 1px;
}

#preview { /* Ration 1.78 */
    display: inline-block;
    border-width:1px; 
    border-style:solid; 
    border-color:#00D53A;
    font-size: 0;
}

.previewcell {
    display: inline-block;
    width: 8px;
    height: 4px;
    background-color: black;
}

.paletteCell {
    width: 60px;
    height: 30px;
    border-width:3px; 
    border-style:solid; 
    border-color:black;
}

.paletteCell.selected {
    border-width:3px; 
    border-style:solid; 
    border-color:red;
}

#dialogSave {
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: small;
}

.title {
    font-weight: bolder;
}

#dialogOutput {
    font-family:'Courier New', Courier, monospace;
    width: 500px;
    height: 800px;
    border-width:1px; 
    border-style:solid; 
    border-color:black;
    background-color: rgb(230, 230, 230);
    margin: 5px;
}

.blck {
    background-color: black;
    color: white;
}

.whte {
    background-color: white;
}

.red {
    background-color: #E43C4E;
}

.brwn {
    background-color: #836B18;
}

.orng {
    background-color: #FF8532;
}

.dgrn {
    background-color: #00883B;
}

.gry1 {
    background-color: #706971;
}

.gren {
    background-color: #00D53A;
}

.ylow {
    background-color: #FFFF4D;
}

.dblu {
    background-color: #0000AE;
}

.prpl {
    background-color: #E358EB;
}

.gry2 {
    background-color: #B1C1B4;
}

.pink {
    background-color: #FFB293;
}

.mblu {
    background-color: #194CFF;
}

.lblu {
    background-color: #91C8FF;
}

.aqua {
    background-color: #90FFE1;
}