body {
    font-family:'Courier New', Courier, monospace;
}

div.inline { float:left; }
.clearBoth { clear:both; }

.drawzone {
    border-width:1px; 
    border-style:solid; 
    border-color:black;
}

.drawcell {
    width: 30px;
    height: 30px;
    border-width:1px; 
    border-style:solid; 
    border-color:black;
}

.preview { /* Ration 1.78 */
    border-width:1px; 
    border-style:solid; 
    border-color:black;
}

.previewcell {
    width: 8px;
    height: 4px;
}

.palette {
    width: 100px;
    height: 400px;
}

.paletteCell {
    border-width:1px; 
    border-style:solid; 
    border-color:black;
}

.paletteCell.selected {
    border-width:3px; 
    border-style:solid; 
    border-color:red;
}

#dialogSave {
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: small;
}

.title {
    font-weight: bolder;
}

.output {
    font-family:'Courier New', Courier, monospace;
    width: 500px;
    height: 350px;
    border-width:1px; 
    border-style:solid; 
    border-color:black;
    background-color: rgb(230, 230, 230);
    margin: 5px;
}

.p0.blck {
    background-color: black;
    color:white;
}

.p1.blck {
    background-color: black;
}

.p0.whte {
    background-color: white;
}

.p1.whte {
    background-color: white;
}

.p0.col1 {
    background-color: #C735FE
}

.p0.col2 {
    background-color: #44CA00
}

.p1.col1 {
    background-color: #03B6EE
}

.p1.col2 {
    background-color: #F85815
}